Repository bounswe/2021SpringGroup8, pull requests merged in 2021-12, with the labels that each got.

#185 change profilebar background color
  frontend/src/App.css
  frontend/src/components/profilebar.js
Labels: Priority - Normal, UI, design, frontend, improvement

#187 Backend
  backend/DB/database.py
  backend/Endpoints/Community.py
  backend/Endpoints/Post.py
  backend/Endpoints/Readme.md
  backend/Endpoints/User.py
  backend/ProcessRequests.py
  backend/ServerManager.py
  backend/server.py
Labels: documentation, enhancement, Priority - Normal, backend, merge request

#189 Mobile/edit profile
  mobile/FaceSpace/.idea/misc.xml
  mobile/FaceSpace/app/src/main/java/com/example/facespace/Data.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/EditProfile.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/ProfilePage.kt
  mobile/FaceSpace/app/src/main/res/layout/activity_profile_page.xml
  mobile/FaceSpace/app/src/main/res/layout/fragment_edit_profile.xml
  mobile/FaceSpace/app/src/main/res/values/strings.xml
Labels: enhancement, Priority - Normal, design, mobile, feature, merge request, improvement

#191 Frontend/dockerization improvement
  frontend/Dockerfile
  frontend/conf/conf.conf
  frontend/docker-compose.yml
  frontend/src/pages/profile.js
  frontend/src/services/profile.service.js
Labels: enhancement, frontend, best practices, merge request, deployment

#194 Frontend/dynamic data type creation
  frontend/src/public-content/Components/BasicSpeedDial.js
  frontend/src/public-content/Components/CreateDataTypeForm.js
  frontend/src/public-content/Components/CreatePostForm.js
  frontend/src/public-content/Components/__tests__/BasicSpeedDial.test.js
  frontend/src/public-content/Components/__tests__/CreateDatTypeForm.test.js
  frontend/src/public-content/Components/map.js
  frontend/src/public-content/pages/CreateDataType.js
  frontend/src/public-content/pages/PostView.js
Labels: merge request
