Repository bounswe/2021SpringGroup8, pull requests merged in 2022-01, with the labels that each got.

#197 Frontend/subscribed comm
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/pages/profile.js
  frontend/src/public-content/pages/Community.js
  frontend/src/services/profile.service.js
  frontend/src/services/user-community.service.js
  frontend/yarn.lock
Labels: enhancement, design, frontend, merge request

#202 display community description
  frontend/src/public-content/pages/Communities.js
Labels: Priority - Normal, UI, design, frontend, improvement

#212 Mobile search community
  mobile/FaceSpace/.idea/misc.xml
  mobile/FaceSpace/app/src/main/java/com/example/facespace/CommunitiesPageActivity.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/MyCommunities.kt
  mobile/FaceSpace/app/src/main/res/layout/activity_communities_page.xml
  mobile/FaceSpace/app/src/main/res/layout/activity_my_communities.xml
  mobile/FaceSpace/app/src/main/res/values/colors.xml
Labels: Priority - Normal, design, mobile, feature

#225 Mobile filter bugs
  mobile/FaceSpace/.idea/misc.xml
  mobile/FaceSpace/app/src/main/java/com/example/facespace/CommunityPageActivity.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/FieldObjectAdapter.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/MapsActivity.kt
  mobile/FaceSpace/app/src/main/res/layout/activity_community_page.xml
Labels: bug, Priority - Very High, mobile, improvement

#227 Several bugs fixed in Fitering posts functionality in mobile.
  mobile/FaceSpace/.idea/misc.xml
  mobile/FaceSpace/app/src/main/java/com/example/facespace/FilterAdapter.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/PostAdapter.kt
  mobile/FaceSpace/app/src/main/java/com/example/facespace/SearchPosts.kt
  mobile/FaceSpace/app/src/main/res/layout/activity_my_communities.xml
  mobile/FaceSpace/app/src/main/res/layout/activity_search_posts.xml
Labels: bug, Priority - High, design, mobile, improvement

#220 Frontend/ Project Refactoring for Better Code Quality and Performance
  frontend/src/App.js
  frontend/src/actions/register.js
  frontend/src/components/post.js
  frontend/src/components/profilebar.js
  frontend/src/index.js
  frontend/src/pages/profile.js
  frontend/src/public-content/Components/BasicSpeedDial.js
  frontend/src/public-content/Components/CommunityPost.js
  frontend/src/public-content/Components/CommunityPosts.js
  frontend/src/public-content/Components/CreateDataTypeForm.js
  frontend/src/public-content/Components/DataTypeForm.js
  frontend/src/public-content/Components/Sidebar.js
  frontend/src/public-content/Components/map.js
  frontend/src/public-content/pages/Community.js
  frontend/src/public-content/pages/CreateDataType.js
  frontend/src/public-content/pages/PostView.js
  frontend/src/public-content/pages/home.js
  frontend/src/serviceWorker.js
  frontend/src/services/profile.service.js
  frontend/src/services/search.service.js
  frontend/src/services/user-community.service.js
Labels: best practices, merge request, improvement

#247 Improvement
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/public-content/pages/Communities.js
  frontend/src/public-content/pages/CreateDataType.js
  frontend/src/public-content/pages/CreatePost.js
  frontend/src/public-content/pages/ProfileView.js
  frontend/src/services/profile.service.js
Labels: design, frontend, improvement

#250 Profile page updated and tests added
  frontend/src/components/ProfileCityEdit.js
  frontend/src/pages/profile.js
  frontend/src/public-content/Components/__tests__/AdvancedSearchInCommunity.test.js
  frontend/src/public-content/Components/__tests__/CommunityPost.test.js
  frontend/src/public-content/Components/__tests__/CommunityPosts.test.js
  frontend/src/services/profile.service.js
Labels: frontend
